{% extends 'base.html.twig' %}

{% block title %}New Annonces
{% endblock %}

{% block body %}
	<body style="height:95vh">
		<div class="container mt-3" style="height:90%">
			<h5>Ajouter un nouvel évènement</h5>
			<div>
				{% include "public/shared/_messages_flash.html.twig" %}
			</div>

			{{ include('annonces/_form.html.twig') }}

			<a href="{{ path('annonces_index') }}" class="btn btn-primary">Retour à la liste d'évènements</a>
		</div>
	</body>
{% endblock %}
