{% extends 'base.html.twig' %}

{% block title %}Email Envoyé - reset password
{% endblock %}

{% block body %}
	<body style="height:95vh">
		<div class="container p-5 mt-5" style="height:80%">
			<p>
				Si votre email est associé à un compte, un lien de réinitialisation/changement de mot de passe vous sera envoyé par mail.
													        Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>Si vous ne l'avez toujours pas recu, regardez dans vos spam sinon cliquez ici pour
				<a href="{{ path('app_forgot_password_request') }}">recevoir à nouveau le lien</a>.</p>

		</div>
	</body>
{% endblock %}
