{% extends 'base.html.twig' %}

{% block title %}Réinitialiser/changer son mot de passe
{% endblock %}

{% block body %}
	<body style="height:95vh">

		<div class="container p-5 mt-5" style="height:80%">
			<h5>Réinitialiser/changer son mot de passe
			</h5>

			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-primary">changer / Reinitialiser</button>
			{{ form_end(resetForm) }}
		</div>
	</body>
{% endblock %}
