{% extends 'base.html.twig' %}

{% block title %}Réinitialiser/changer son mot de passe
{% endblock %}

{% block body %}
	<div class="container p-5 mt-5" style="width:50%">
		<h5>Réinitialiser/changer son mot de passe
		</h5>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">changer / Reinitialiser</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
