{% extends 'base.html.twig' %}


{% block title %}Mettre à jour des évènements.
{% endblock %}

{% block body %}

	<div class="container mt-4" style="width=65%">

		<h6>Events</h6>


	</div>


{% endblock %}
