{% extends 'base.html.twig' %}


{% block title %}Menu Administrateur
{% endblock %}

{% block body %}
	<body style="height:90vh">
		<div class="container mt-4" style="height:80%">


			<div class="container mt-5">

				<h5 class="card-title">Gestion des Utilisateurs</h5>
				<p class="card-text">Permet de supprimer les utilisateurs ( parents qui n'ont plus d'enfants à la creche) et d'attribuer un role administrateur à un utilisateur</p>
				<a href="{{ path('admin_user') }}" class="btn btn-primary">Gérer</a>

			</div>


			<div class="container mt-5">


				<h5 class="card-title">Publier des évènements</h5>
				<p class="card-text">Autorise uniquement les parents inscrits a voir les activités réalisées par les enfants ( photos....)</p>
				<a href="{{ path('annonces_index') }}" class="btn btn-primary">Mettre à jour</a>

			</div>


		</div>

	</body>
{% endblock %}
