{% extends "base.html.twig" %}


{% block body %}
	<link rel="stylesheet" href="{{ asset('css/footer.css') }}">

	<div class="container">

		<h5>Mentions légales</h5>


		<div>
			<h6 style="color:red">1-Édition du site</h6>
			<P>
				Propriétaire du site : OComme3pommes - Contact : ocomme3pommes@test.fr - Adresse : 10 D rue des Jacquiers. 97421 La Rivière Saint-Louis.
																																																																																																				
																																																																																																				Identification de l'entreprise : OComme3pommes au capital social de € - SIREN : - RCS ou RM : - Adresse postale : 10 D rue des Jacquiers. 97421 La Rivière Saint-Louis.																																																																															L'hébergeur du site le-handicap-visuel est la société LIGNE WEB SERVICES, dont le siège social est situé au 10, RUE DE PENTHIEVRE - 75008 PARIS, avec le numéro de téléphone :  +33 (0)1 77 62 30 03.
																																																																																																							Hébergeur : AutreLWS 10, RUE DE PENTHIEVRE - 75008 PARIS +33 (0)1 77 62 30 03.
																																																																																																				
																																																																																																				Délégué à la protection des données : Ocomme3pommes - Ocomme3pommes@test.fr
			</P>
		</div>


		<div>
			<h6 style="color:red">
				2-Propriété intellectuelle et contrefaçons.</h6>
			<p>
				Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.
																																																																																																			OComme3pommes est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.
																																																																																																
																																																																																																Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de OComme3pommes.
																																																																																																
																																																																																																Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.


			</p>
		</div>


		<div>
			<h6 style="color:red">3-Limitations de responsabilité.</h6>
			<p>OComme3pommes ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site ocomme3pommes.
																																																																																								
																																																																																								OComme3pommes décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur ocomme3pommes.
																																																																																								
																																																																																								OComme3pommes s’engage à sécuriser au mieux le site ocomme3pommes, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.
																																																																																								
																																																																																								Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. OComme3pommes se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.
																																																																																								
																																																																																								Le cas échéant, OComme3pommes se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</p>
		</div>

		<div>
			<h6 style="color:red">4-CNIL et gestion des données personnelles.</h6>
			<p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site ocomme3pommes dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Ocomme3pommes - Ocomme3pommes@test.fr.
																																																																																				
																																																																																				Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre Politique de Confidentialité.
																																																																																				
																																																																																				Il est également possible de déposer une réclamation auprès de la CNIL.																																																														Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
			</p>
		</div>

		<div>
			<h6 style="color:red">5-Liens hypertextes et cookies</h6>
			<p>
				Le site ocomme3pommes contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers ocomme3pommes.
																																																																																
																																																																																La navigation sur le site ocomme3pommes est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.
																																																																																
																																																																																Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.
																																																																																
																																																																																Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement.
																																																																																
																																																																																Les cookies sont enregistrés pour une durée maximale de 6 mois.
																																																																																
																																																																																Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre Politique de Confidentialité.
																																																																																
																																																																																																																																									La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
			</p>
		</div>

		<div>
			<h6 style="color:red">6-Droit applicable et attribution de juridiction.</h6>
			<p>Tout litige en relation avec l’utilisation du site ocomme3pommes est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Saint-Pierre.


			</p>
		</div>


	</div>


{% endblock %}
