{% extends 'base.html.twig' %}

{% block title %}Modifier mail
{% endblock %}

{% block body %}

	<div class="container p-4 mt-5" style="width: 70%">
		{% include "public/shared/_messages_flash.html.twig" %}
	</div>
	<div class="container p-4 mt-5" style="width: 70%">
		<h5>Modifier mon adresse mail</h5>

		<h4>mail actuel:</h4>
		<h6>
			{{user.email}}</h6>
	</div>
	<div class="container p-4 mt-5" style="width: 70%">

		{{form_start(form) }}
		{{form_widget(form)}}

		{{form_rest(form) }}

		<button class="btn btn-outline-primary">Modifier</button>

	</div>
{% endblock %}
