{% extends 'base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block body %}
	<body style="height:95vh">

		<div class="container mt-5" style="height:80%">
			{% include "public/shared/_messages_flash.html.twig" %}


			<h3 class="container p-4 mt-5">Mes informations personelles
			</h3>


			<table class="table table-hover">

				<thead class="tete">

					<table class="table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">email</th>
								<th scope="col">Mot de passe</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"></th>
								<td>{{ user.nom }}</td>
								<td>{{ user.prenom  }}</td>
								<td>{{ user.email  }}</td>
								<td>........</td>

							</tr>
							<tr>
								<th scope="row"></th>
								<td>
									<a>.......</a>
								</td>
								<td>
									<a>.......</a>
								</td>
								<td>
									<a class="btn btn-sm btn-danger mt-3" href="{{ path('modifier-mail') }} ">Modifier</a>
								</td>
								<td>
									<a class="btn btn-sm btn-danger mt-3" href=" ">Modifier</a>
								</td>

							</tr>
						</tbody>
					</table>
				</thead>
			</table>
		</div>
	</body>

{% endblock %}
